doctype html
html
  head
    title Welcome
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/style2.css')
    link(rel='stylesheet', href='//vjs.zencdn.net/5.11/video-js.min.css')
    script(src='//vjs.zencdn.net/5.11/video.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='/js/lib/binary.js')
    script(src='/js/lib/common.js')
    script(src='/js/lib/video.js')
    script(src='/js/update.js')

  body
  .form
      h1.title Welcome
      .profile
        table
          tr
            td(id='first-col', rowspan='5')
              img(id='pic', src='/profile.png')
            td #{username}
          tr
            td #{first_name}
          tr
            td #{last_name}
          tr
            td Last Login: #{last_login_time}
          tr
            td IP: #{last_login_ip}

      .center-area
        fieldset
          legend Upload a file
          aside(id='select-box')
            form(action='/upload', enctype='multipart/form-data', method='post')
              input(id='targetFile', name='upload', type='file', multiple='multiple', accept='video/*;capture=camcorder')
              p(id='uploadMsg') Size Limit: 20MB
              button(id='uploadButton', type='submit', class='button button-block') Upload
        fieldset
          legend Current Videos in Server
          nav(id='list') 
            ul
              each file in files
                li
                  a(href=file)=file            
        fieldset
          legend Video Player
          video(id='my-player', class='video-js', controls='true', data-setup='{}')
            | <source src="//vjs.zencdn.net/v/oceans.mp4">
            p(class='vjs-no-js') To view this video please enable JavaScript, and consider upgrading to a web browser that
              a(href='http://videojs.com/html5-video-support/' target='_blank') supports HTML5 video
      .tab-content
        form(action='/logout', method='post')
          button(type='submit', class='button button-block') Log Out 













